@import url('https://fonts.googleapis.com/css?family=Sacramento');

*{

    padding: 0;
    margin: 0;
    text-decoration: none; /*Quita subrayado*/
    list-style: none;   /*Quita puntos de lista*/
    box-sizing: border-box; /*Hace que los elementos no se salgan del contenedor*/

}


nav{

    background: #ff8fab;
    height: 80px;
    width: 100%;
    font-family: 'ABeeZee';

}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    height: 40px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    background: #ffc2d1;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 35px;
    cursor: pointer;
    display: none;
}

#checkboxOcultar{
    display: none;
}

section{
    background: url(fotos/back.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}




@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }

    div.cuadro{
        font-size: 15px;
        margin: 15px;
        padding: 15px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #000;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;

    }
    li a:hover, li a.active{
        background: none;
        color: #ff8fab;
    }
    #checkboxOcultar:checked ~ ul{
        left: 0;
    }
    div.cuadro{
        font-size: 15%;
        padding-top: 10px;
        padding-bottom: 10px;;
        margin: 10px;
        
    }
    div.cuadros-container{
        height: auto;
        bottom: 330px;
        margin: 2px;
    }
    div.cuadros-container2{
        margin: 2px;
        height: auto;
        bottom: 250px;
    }
}



.cuadros-container {
    display: flex;
    justify-content: space-around; /* Distribuye los cuadros de manera uniforme */
    position: absolute; /* Posición absoluta en relación con el cuerpo */
    bottom: 325px; /* Ajusta la distancia desde la parte inferior */
    width: 100%;
    height: 20%;
    max-height: 200px;;
}

.cuadro {
    width: 15%;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    text-decoration-color: #fff;
    background-color: rgba(255, 229, 236, 0.8); /* Fondo semi-transparente */
    
    justify-content: center;
    align-content: center;
    font-family: 'ABeeZee';
    
}

.ocultar {
    display: none; /* Oculta el cuadro estableciendo la opacidad en 0 */
}

h3.texto{
    padding-top: 5px;
    padding-bottom: 10px;
}

span.fechas{
    padding-bottom: 5px;
}

.cuadros-container2{
    display: flex;
    justify-content: space-around; /* Distribuye los cuadros de manera uniforme */
    position: absolute; /* Posición absoluta en relación con el cuerpo */
    bottom: 180px; /* Ajusta la distancia desde la parte inferior */
    width: 100%;
    height: 20%;
    max-height: 200px;
}


